.chooseScenario {
    font-size: 80px;
    margin-bottom: 0;
    text-align: center;
    cursor: default;
}

@media (max-width: 1600px) {
    .chooseScenario { font-size: 70px; }
}
@media (max-width: 1280px) {
    .chooseScenario { font-size: 60px; }
}
@media (max-width: 960px) {
    .chooseScenario { font-size: 50px; }
}
@media (max-width: 640px) {
    .chooseScenario { font-size: 40px; }
}

.scenarios {
    padding: 0;
    margin: 0;
    margin-top: 4%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.returnToMainPage {
    margin-top: 3%;
    margin-left: 3%;
}
.returnToMainPage__link {
    font-size: 36px;
}

@media (max-width: 1600px) {
    .returnToMainPage__link { font-size: 30px; }
}
@media (max-width: 1280px) {
    .returnToMainPage__link { font-size: 24px; }
}
@media (max-width: 960px) {
    .returnToMainPage__link { font-size: 18px; }
}
@media (max-width: 640px) {
    .returnToMainPage__link { font-size: 12px; }
}