.mainPage {
	background-image: url("../../assets/mainmenu-background-image.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

.logo {
	margin-top: 10%;
	margin-left: 21%;
	width: 60%;
}

.menu {
	margin: 0;
	padding: 0;
	margin-top: 7%;
	list-style: none;
	text-align: center;

	.option {
		margin-bottom: 4%;

		.text {
			font-size: 36px;
			@media (max-width: 1600px) {
				font-size: 30px;
			}
			@media (max-width: 1280px) {
				font-size: 24px;
			}
			@media (max-width: 960px) {
				font-size: 18px;
			}
			@media (max-width: 640px) {
				font-size: 12px;
			}
		}
	}
}