.mapIcons {
    position: absolute;
    height: 100%;
    width: 100%;
}

.flagButton {
    position: absolute;
    width: 30px;
    opacity: 0.5;
    &:hover {
        opacity: 1;
    }
}

.flagImage {
    width: 100%;
}

.eventButton {
    position: absolute;
}

.eventImage {
    width: 100%;
    transition: opacity 0.9s;
}
