.musicButtons {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.musicButtons__play, 
.musicButtons__next,
.musicButtons__list {
  margin-right: 10%;
  padding: 0;
  width: 16%;
}
.musicButtons__playImage,
.musicButtons__nextImage,
.musicButtons__listImage {
  width: 100%;
}