.settingsMenu {
  background-color: #2e2e2e;
  position: fixed;
  left: 40%;
  top: 25%;
  width: 20%;
  height: 50%;
  transform: scale(0, 0);
  transition: transform 0.3s;
  z-index: 5;
}
.settingsMenu__progressList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.settingsMenu__progressItem {
  text-align: center;
  margin: 5px;
}
.settingsMenu__progressButton {
  background-color: #484848;
  border-radius: 20px;
  font-size: 30px;
}