html, body, #root, #app {
  height: 100%;
}

body {
  margin: 0;
  background: #2e2e2e;
  color: white;
  font-family: sans-serif;
  overflow: hidden;
}

code { /* TODO: узнать что это */
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: white;
  text-decoration-line: none;
}
a:hover {
  opacity: 0.5;
}

button {
  background: none;
  border: none;
  color: white;
  padding: 0;
  cursor: pointer;
}
button:hover {
  opacity: 0.5;
}
button:focus {
  outline: none;
}